{% extends "admin/base_site.html" %}
{% load i18n %}

{% block branding %}
    {{ block.super }}
    <div style="float: right; padding-right: 10px;">
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language" onchange="this.form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                        {{ lang.1 }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>
{% endblock branding %}
